configurations/minimal/fish/completions/
configurations/minimal/fish/conf.d/
configurations/minimal/fish/functions/
configurations/minimal/fish/fish_plugins
configurations/minimal/fish/fish_variables
configurations/minimal/nvim/plugin/
configurations/minimal/mpd/database
configurations/minimal/mpd/playlists/
configurations/minimal/mpd/pid
configurations/minimal/mpd/state
configurations/minimal/mpd/sticker.sql
configurations/dwm/dwm/*.o
configurations/dwm/dwm/dwm
configurations/dwm/dwm/config.h
configurations/dwm/slstatus/*.o
configurations/dwm/slstatus/config.h
configurations/dwm/slstatus/slstatus
configurations/dwm/dwmblocks/blocks.h
configurations/dwm/dwmblocks/dwmblocks
configurations/dwm/dmenu/*.o
configurations/dwm/dmenu/dmenu
configurations/dwm/dmenu/config.h
