fish/completions/
fish/conf.d/
fish/functions/
fish/fish_plugins
fish/fish_variables
nvim/plugin/
mpd/database
mpd/playlists/
mpd/pid
mpd/state
mpd/sticker.sql
.icons/default/
desktops/dwm/dwm/*.o
desktops/dwm/dwm/dwm
desktops/dwm/dwm/config.h
